<h1>Machines</h1>

<p>Here's a list of machines: feel free to play with it.</p>

<p *ngIf="!machines"><em>Loading...</em></p>


<table class='table table-striped' aria-labelledby="tableLabel"
[hidden]="!machines">
<thead>
    <tr>
        <th>Date</th>
        <th>TempC</th>
        <th>TempF</th>
        <th>Summary</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let machine of machines">
        <td>{{machine.date}}</td>
        <td>{{machine.temperatureC}}</td>
        <td>{{machine.temperatureF}}</td>
        <td>{{machine.summary}}</td>
    </tr>
</tbody>
</table>